<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   

    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/jqueryui/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/jqueryui/jquery-ui.theme.css" rel="stylesheet" />

    

</head>
<body>
    <div>

        <script src="~/scripts/jquery-1.10.2.js"></script>

        @RenderSection("scripts", required: false)


        @RenderBody()
  
       

        <script src="~/jqueryui/jquery-ui.js"></script>
      
    </div>
</body>
</html>
